body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    background-color: #f9f9f9;
    color: #333;
}

.header {
    text-align: center;
    background-color: #fbd8db;
    color: #fff;
    padding: 20px;
}

.cover-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-bottom: 5px solid #01b4aa;
}

.blog-title {
    font-size: 2.5em;
    margin: 20px 0;
    color: #f0565a;
}

.content {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.introduction {
    font-size: 1.2em;
    color: #01b4aa;
}

.link a {
    color: #f0565a;
    text-decoration: none;
    font-weight: bold;
}

.link a:hover {
    text-decoration: underline;
}

.analysis p {
    margin: 20px 0;
    color: #555;
}

@media (max-width: 768px) {
    .blog-title {
        font-size: 2em;
    }

    .content {
        padding: 15px;
    }
}

.footer {
    background-color: #f5f5f5; /* 淡いグレーで控えめな背景色 */
    color: #666; /* テキストを控えめなグレーに */
    text-align: center; /* テキストの中央揃え */
    padding: 10px 20px; /* 内側の余白 */
    font-size: 0.8em; /* 小さめのフォントサイズ */
    border-top: 1px solid #ddd; /* 上部に控えめな境界線 */
}

.footer a {
    color: #888; /* リンクも控えめな色 */
    text-decoration: none; /* リンクの下線を削除 */
}

.footer a:hover {
    text-decoration: underline; /* ホバー時に下線を表示 */
    color: #666; /* ホバー時も控えめな色 */
}

.twitter-button {
    background-color: #f5f5f5; /* 控えめな背景色 */
    color: #555; /* テキストカラー */
    border: 1px solid #ddd; /* 薄い境界線 */
    padding: 10px 15px; /* 内側の余白 */
    font-size: 0.9em; /* 小さめのフォントサイズ */
    border-radius: 5px; /* 角丸デザイン */
    text-decoration: none; /* 下線を削除 */
    display: inline-block; /* ボタンのように表示 */
    transition: background-color 0.3s ease, color 0.3s ease; /* ホバー時のアニメーション */
}

.twitter-button:hover {
    background-color: #e6e6e6; /* ホバー時の背景色 */
    color: #333; /* ホバー時のテキスト色 */
}
